body {
  background-image: url(/img/bg-upright.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.mainNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainNav li {
  /* margin: 2fr; */
  list-style: none;
  padding: 0 2rem;
}

/* -------- Front page ------------ */

#index_page {
  background-image: url(/img/bg-stickr-1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.btn {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn li {
  margin: 0 10px;
}

/* ---------------- */

/* --------- ProductList ---------- */
.productlist main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 300px));
  gap: 2rem;
}
.productlist main h2 {
  grid-column: 1/-1;
}
.productlist article h3 {
  font-size: 1rem;
  flex-grow: 3;
}
.productlist article > * {
  margin: 0;
  font-size: 0.9rem;
}
.subtle {
  color: #d8d8d8cc;
}
.productlist article {
  display: flex;
  flex-direction: column;
}
.productlist article.soldOut img {
  opacity: 0.5;
}
.productlist article.soldOut::before {
  content: "Sold Out";
  position: absolute;
  background: var(--color);
  color: var(--background-color);
  padding: 1rem;
}
.productlist article .discounted,
.productlist article .price span {
  display: none;
}
.productlist article.onSale .discounted {
  display: flex;
  justify-content: space-between;
}
.discounted > p {
  margin-bottom: 0;
}
.productlist article.onSale .price span {
  display: initial;
}
.productlist article button {
  margin-top: auto;
}
.productlist article {
  margin-bottom: 1rem;
}
.discounted p:last-child {
  background: var(--off-color);
  padding: 0.2rem;
}
@media screen and (min-width: 800px) {
  .brandList ol {
    column-count: 2;
  }
}
/* ------------------ */

/* ----------- product itself --------------*/
/*Product*/
.breadcrumbs {
  list-style-type: none;
  display: flex;
}
.breadcrumbs li::after {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 10px;
  content: "";
  transition: all 0.3s;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 14"><path fill="none" stroke="white" d="M.8 12.87l7.5-6-7.5-6"></path></svg>');
  background-repeat: no-repeat;
  /* url('data:image/svg+xml;utf8,<svg class="svg-arrowRight" viewBox="0 0 9 14"><path fill="none" stroke="#979797" d="M.8 12.87l7.5-6-7.5-6"></path></svg>'); */
}
.breadcrumbs li:last-child::after {
  background: none;
}
.purchaseBox {
  background: #d8d8d8;
  color: var(--background-color);
  padding: 1rem;
}
.info {
  padding: 1rem;
}
.product select {
  min-width: 100px;
}
.product main {
  display: grid;
}
.product main .breadcrumbs,
.product main img {
  grid-column: 1/-1;
}
.purchaseBox form label {
  gap: 1rem;
}
.purchaseBox button {
  display: block;
  margin-top: 1rem;
  width: 100%;
}
dt {
  font-weight: 700;
}
@media screen and (min-width: 1000px) {
  .product main {
    grid-template-columns: 1fr 310px;
  }
  .info {
    order: 0;
  }
  .purchaseBox {
    order: 2;
    transform: translate(-50px, -100px);
  }
}
/* ------------------ */
